cask "lidlock" do
  version "{{version}}"
  sha256 "{{artifact.sha256}}"

  url "{{artifact.url}}",
      verified: "github.com/dayflower/lidlock/"
  name "LidLock"
  desc "Menu-bar app that locks or sleeps a Mac in clamshell mode"
  homepage "https://github.com/dayflower/lidlock"

  depends_on macos: :ventura

  app "LidLock.app"
end
